.epub-dock {
    width: 300px;
    background-color: var(--b3-theme-background);
    border-right: 1px solid var(--b3-border-color);
}

.full-height {
    height: 100%;
}

.toolbar-top {
    border-bottom: 1px solid var(--b3-border-color);
    text-align: center;
    height: 50px;
    line-height: 50px;
    position: relative;

    .left-corner-btns {
        position: absolute;
        left: 0;

        .left-corner-btn  {
            height: 20px;
            width: 20px;
            font-size: 20px;
            display: inline-block;
            margin: 6px 8px;
            cursor: pointer;

            &.selected, &:hover {
                color: var(--b3-theme-primary);
            }
        }

        svg {
            height: 20px;
            width: 20px;
            font-size: 20px;
        }
    }

    .toolbar-btn {
        margin: 0 4px;
    }

    .epub-title {
        min-width: 200px;
        display: inline-block;
        font-weight: bold;
        font-size: 16px;
    }
}

.toolbar-bottom {
    border-top: 1px solid var(--b3-border-color);
}

.epub-dock {
    padding: 12px;
    overflow: auto;
}

.epub-dock-item {
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 8px;

    &:hover {
        font-weight: bold;
    }
}

.mark-list {
    .mark {
        margin-bottom: 12px;
        cursor: pointer;
    }
}

.current-section {
    font-weight: bolder;
}

@for $i from 1 through 9 {

    .dock-level-#{$i} {
        margin-left: $i * 8px;
    }
}
